@model CommentViewModel

@{
    ViewData["Title"] = "DeleteComment";
}

<h3>Are you sure you want to delete this?</h3>
<div class="row">
    <div class="card-body bg-light">
        <div class="media-body">
            <small class="float-right text-navy text-muted">@Model.CreatedAt</small>
            <p class="text-muted"><strong>@Model.Text</strong></p>
        </div>
        <form asp-action="ConfirmDeleteComment">
            <a asp-controller="Comments" asp-action="ConfirmDeleteComment" asp-route-id="@Model.Id" class="float-left btn btn-link">Delete</a>
        </form>
    </div>
</div><!-- /.row -->