@model BlogViewModel

@{
    ViewData["Title"] = "DeleteBlog";
}

<h1>DeleteBlog</h1>
<div class="row">
    <div class="card-body bg-light">
        <div class="media-body">
            <small class="float-right text-navy text-muted">@Model.CreatedAt</small>
            <p class="text-muted"><strong>@Model.Title</strong></p>
        </div>
        <form asp-action="ConfirmDeleteBlog">
            <a asp-controller="Blogs" asp-action="ConfirmDeleteBlog" asp-route-id="@Model.Id" class="float-left btn btn-link">Delete</a>
        </form>
    </div>
</div><!-- /.row -->