@model IEnumerable<BlogViewModel>

@{
    ViewData["Title"] = "BlogList";
}

<h1>BlogList</h1>

<p>
    <a asp-action="CreateBlog">Create New</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Blogs" asp-action="BlogDetails" asp-route-id="@item.Id">
                        @item.Title
                    </a>
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteBlog", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>