@using BlogPost.Web.Infrastructure
@model UserDetailsViewModel

<div class="card-body bg-light">
    <div class="row">
        <div class="col-1">
            @if (@Model.ProfileImage != null)
            {
                @Html.Image(Model.ProfileImage);
            }
            <span>@Model.UserName</span>
        </div>
    </div>
</div>