@model IEnumerable<BlogViewModel>

@{
    ViewData["Title"] = "BlogList";
}

<div class="w3-container w3-card w3-white w3-margin">

    @foreach (var blog in Model)
    {
        <br>
        <img src="~/images/avatar.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">@Html.ActionLink("X", "DeleteBlog", new { id = blog.Id })</span>

        <h4>@blog.User.UserName</h4>
        <hr class="w3-clear">
        <span class="w3-left w3-opacity">@blog.CreatedAt</span>

        <p>@blog.Title</p>
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
}
</div>