@{
    ViewData["Title"] = "Home Page";
}

<ul class="nav navbar-nav navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        <li><a asp-controller="Account" asp-action="UserDetails">@User.Identity.Name</a></li>
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
    }
    else
    {
        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
    }
</ul>
