@model IList<BlogViewModel>

<div class="w3-container">
    <p>Interests</p>
    <p>
        @foreach (var blog in Model)
        {

            <span class="w3-tag w3-small w3-theme-l1">
                <a class="text-center" asp-controller="Blogs" asp-action="BlogDetails" asp-route-id="@blog.Id">
                    @blog.Title
                </a>
            </span>
        }
    </p>
</div>